
// Body
$body-background: whitesmoke;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

// Colors
$blue-gray 			    : #34495e;
$blue-gray-darken 	: #2c3e50;
$blue 				      : #3498db;
$blue-darken 		    : #2980b9;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;
