html,body{
  height:100%;
}
/* ========================================
   ============ Text Overrides ===========
   ======================================== */

.is-muted {
  color: $grey-light !important;
}

a.is-muted:hover{
  color: $grey !important;
}

.button.is-primary{
    background-color: #44bde9 !important;
}

.display-none{
  display:none !important;
}

.no-border{
  border:0 !important;
}

.invisible-border{
  border-color:transparent !important;
}

.no-hover {
    &:hover {
        color:inherit !important;
        background-color:inherit !important;
        cursor:default;
    }
}

.button.is-success.is-outlined {
    background-color: transparent !important;
    border-color: #1d49d0 !important;
    color: #1d49d0 !important;
    &:hover{
      background-color:#1d49d0 !important;
      border-color: #1d49d0 !important;
      color:white !important;
    }
}

.navbar-link{
  &:after{
    border-color: #1d49d0 !important;
  }
}

.select,.input{
  font-size:1rem !important;
  line-height:1.5 !important;
  color: #363636 !important;
}

input,select,textarea{
  &:focus{
    border-color: #1d49d0!important;
  }
  &:active{
    border-color: #1d49d0!important;
  }
}

.font-color-black{
  color:#000000!important;
}

.main-border-bottom-color{
    border-bottom-color: #4186c8!important;
}
nav.navbar{
  border-bottom: 1px solid #d5d5dc!important;
  background-color: #efefef!important;
}
