html,body{
  height:100%;
}
/* ========================================
   ============ Text Overrides ===========
   ======================================== */

.is-muted {
  color: $grey-light !important;
}

a.is-muted:hover{
  color: $grey !important;
}
